@use "_colors";
@use "_general_common";

.about {
	@extend %section;
	min-height: 60rem;
}

.about-box {
	@extend %flexbox;
	flex-direction: row;
	justify-content: space-around;
	gap: 2rem;
}

.about__paragraph {
	font-size: 2rem;
}

.about__right {
	text-align: left;
	border-color: colors.$maximum-green-yellow !important;
	border-left: 0.5rem dashed;
	padding: 3rem;
	border-bottom: 0.5rem dashed;
}

.about__title {
	text-wrap: nowrap;
}

.about__link {
	text-decoration: none;
	color: colors.$middle-grey;

	&:hover{
		color: colors.$maximum-green-yellow;
	}
}