@use "_colors";
@use "_btn_common";

.btn {
	@extend %btn;
	@extend %btn--hover-active;
	padding: 2rem 3.2rem;
}

.btn--language {
	border: none;
}

.btn--cv {
	font-size: 2rem;
	letter-spacing: 0.1rem;
	padding: 2rem 6.2rem;
	color: colors.$outer-space-crayola !important;
	background-color: colors.$white-2;
	text-decoration: none;

	&:hover {
		background-color: transparent;

		& .cv-icon {
			color: colors.$maximum-green-yellow;
		}
	}

	&:active {
		background-color: colors.$maximum-green-yellow;

		& .cv-icon {
			color: colors.$white-2;
		}
	}
}

.btn--menu-mobile {
	font-size: 4rem;
	padding: 3rem;
	color: colors.$white-2;
	border: none;
	border-radius: 1rem;
}

.btn-transparent {
	border-color: transparent;

	&:active{
		background-color: transparent;
	}
}