/* SCSS HEX */
// MAIN
$rich-black-fogra-29: #040f0fff;
$rich-black-2: #092020;
$rich-black-3: #0d3030;

$maximum-green-yellow: #d1d646ff;

$middle-grey: #898980ff;
$outer-space-crayola: #2d3a3aff;

$white: #fff;
$white-2: #f5f5f5;
$ivory: #fbfbee;
