.contact {
	@extend %section;
	@extend %flexbox;
	flex-direction: column;
	background-color: $rich-black-fogra-29;
}

.contact__links {
	& a:hover {
		transform: translateY(10%);
	}
}

.contact__links {
	@extend %flexbox;
	gap: 2rem;
}

.contact__icon {
	color: $white-2;
}