@use "_colors";

.dark .title {
	color: colors.$white;
}

.dark .paragraph,
.dark .subtitle {
	color: colors.$white-2;
}

.dark .navigation__link:link,
.dark .navigation__link:visited,
.dark .btn--navigation {
	color: colors.$white-2;
}