@use "_colors";
@use "_general_common";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Hind", sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	width: 100vw;
	overflow-x: hidden;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.title {
	font-size: 5.2rem;
	text-transform: uppercase;
	border-bottom: 0.3rem dashed colors.$rich-black-fogra-29;
}

.subtitle {
	font-size: 2.4rem;
	border-bottom: 0.3rem dashed colors.$maximum-green-yellow;
}

ion-icon {
	font-size: 6.4rem;
	color: black;
	pointer-events: none;

	&:hover {
		color: colors.$ivory;
		cursor: pointer;
	}

	&:active {
		color: colors.$maximum-green-yellow;
	}
}

.footer {
	height: 10rem;
	background-color: colors.$rich-black-fogra-29;
	padding-top: 3rem;
}

.footer__paragraph {
	width: 19ch;
	margin: 0 auto;
}

.hidden {
	display: none !important;
}

.text-selection-none {
  @extend %selection-none;
}