.hero {
  height: 100vh;
  background-color: $rich-black-fogra-29;
}

.navigation-bar {
  @extend %flexbox;
  padding: 2.2rem 0;
  justify-content: space-between;
}

.navigation__links-list {
  @extend %flexbox;
  list-style: none;
  height: 5rem;
}

// todo
// .navigation__links-list--left {
//   @extend %btn;
//   display: flex;
// }

.navigation__link-item {
  @extend %flexbox;
  text-transform: uppercase;
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  padding: 1rem 2.2rem;

  &:hover {
    @extend %btn;
    @extend %btn--hover-active;
  }
}

.active-language {
  padding: 1rem 2.2rem;
  @extend %btn;
  color: $outer-space-crayola !important;
  background-color: $white-2;
}

.hero-content {
  @extend %flexbox;
  margin-top: 9.6rem;
  gap: 19.6rem;
}

.hero__right {
  background-image: url("../images/me.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-color: $maximum-green-yellow;
  border-style: dashed;
  filter: brightness(0.8);
  border-top: 2px;
  border-bottom: 2px;
  width: 40rem;
  height: 40rem;

  border-radius: 100%;
}

.hero__span {
  color: $maximum-green-yellow;
}
