@media screen and (max-width: 1520px) {
  .hero__content {
    gap: 3.6rem;
  }

  .hero__title {
    width: 20ch;
  }

  .about-box {
    flex-direction: column;
  }
  .project {
    justify-self: flex-start;
  }

  .project__github-img,
  .project__agws-img {
    justify-self: center;
  }

  .project__github,
  .project__agws {
    justify-self: flex-start;
  }
}
@media screen and (max-width: 1050px) {
  .hero__content {
    flex-direction: column;
    gap: 5em;
  }

  .hero__left {
    text-align: center;
  }

  .hero__title {
    line-height: 1.5;
    width: 18ch;
  }

  .title {
    text-align: center;
    font-size: 4.2rem;
  }

  .subtitle {
    text-align: center;
  }

  .about__right {
    border: none;
  }

  .about__paragraph {
    text-align: center;
    border-bottom: 0.5rem dashed $maximum-green-yellow;
    padding: 4rem 0 1rem 0;
  }

  .projects__box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 35rem);
  }

  .project {
    align-items: center;
    text-align: center;
  }

  .project__left,
  .project__right {
    grid-column: 1;
    justify-self: center;
  }

  .project__todo {
    grid-row: 2;
  }
  .project__todo-img {
    grid-row: 1;
  }

  .project__agws {
    grid-row: 4;
  }
  .project__agws-img {
    grid-row: 3;
  }

  .project__mainpage {
    grid-row: 6;
  }
  .project__mainpage-img {
    grid-row: 5;
  }

  .project__github {
    grid-row: 8;
  }

  .project__github-img {
    grid-row: 7;
  }
}

@media screen and (max-width: 800px) {
  .hero__right {
    height: 30rem;
    width: 30rem;
  }

  .tools-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 8.6rem;
  }

  .desktop {
    display: none;
  }

  .mobile {
    padding: 0;
    width: 100%;
    justify-content: flex-end;
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .navigation-bar {
    padding: 1rem;
  }

  .title {
    font-size: 3.6rem;
  }

  .hero__content {
    margin-top: 2rem;
    gap: 2rem;
  }

  .hero__right {
    height: 28rem;
    width: 28rem;
  }

  .tools-grid {
    column-gap: 5.6rem;
  }

  .tool {
    width: 13rem;
    height: 13rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  .project__title {
    width: 15ch;
  }
}

@media screen and (max-width: 400px) {
  .project__paragraph {
    width: 30ch;
  }
}

@media screen and (max-height: 400px) {
  .hero {
    height: 100%;
    padding: 3rem;
  }
}
