.projects {
  @extend %section;
  @extend %flexbox;
}

.projects__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 50rem);
}

.project {
  @extend %flexbox;
  gap: 3.2rem;
}

.project:nth-child(even) {
  grid-column: 2;
  flex-direction: row-reverse;
}

.project:nth-child(odd) {
  grid-column: 1;
}
.project__left {
  width: 50%;
}
.project__subtitle {
  width: 10ch;
  margin-bottom: 3.2rem;
}
.project__paragraph {
  width: 50ch;
  margin-bottom: 3.2rem;
}
.project__right {
  width: 50rem;
  border-radius: 20rem;
  background-image: url("../images/projects/screen-recording.gif");
}
.project__link:visited {
  color: $white-2;
}
.project__link:link {
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
  padding: 2rem 2.2rem;
  border-radius: 10rem;
  color: $white-2;
  background-color: $rich-black-2;
  text-decoration: none;

  &:hover {
    border: 0.3rem solid $rich-black-2;
    cursor: pointer;
    background-color: transparent;
    color: $rich-black-2 !important;
  }

  &:active {
    border-color: $maximum-green-yellow;
    background-color: $maximum-green-yellow;
  }
}

.project__todo {
  grid-row: 1;
}

.project__agws {
  grid-row: 2;
}

.project__mainpage {
  grid-row: 3;
}
.project__github {
  grid-row: 4;
}
