.projects {
  @extend %section;
  @extend %flexbox;
}

.projects__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 50rem);
  align-items: center;
}

.project {
  @extend %flexbox;
  flex-direction: column;
  align-items: flex-start;
  justify-self: center;
}

// .project:nth-child(even) {
//   grid-column: 2;
// }

// .project:nth-child(odd) {
//   grid-column: 1;
// }

.project__left {
  width: 60%;
  height: fit-content;
}

.project__subtitle {
  margin-bottom: 3.2rem;
}

.project__paragraph {
  width: 50ch;
  margin-bottom: 3.2rem;
}

.project__right {
  width: 50rem;
  border-radius: 20rem;
  justify-self: flex-start;
}

.project__link {
  &:link {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    padding: 2rem 2.2rem;
    border-radius: 10rem;
    color: $white-2;
    background-color: $rich-black-2;
    text-decoration: none;
  }

  &:visited {
    color: $white-2;
  }

  &:hover {
    border: 0.3rem solid $rich-black-2;
    cursor: pointer;
    background-color: transparent;
    color: $rich-black-2 !important;
  }

  &:active {
    border-color: $maximum-green-yellow;
    background-color: $maximum-green-yellow;
  }
}

.project__agws {
  grid-column: 2;
  grid-row: 2;
}

.project__agws-img {
  justify-self: flex-end;
  grid-column: 1;
  grid-row: 2;
}

.project__github {
  grid-column: 2;
  grid-row: 4;
}
.project__github-img {
  justify-self: flex-end;

  grid-column: 1;
  grid-row: 4;
}
