.tools-box {
  @extend %section;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 4.8rem;
  column-gap: 4.4rem;
}

.tool {
  width: 15rem;
  height: 15rem;
  filter: grayscale(100%);
  opacity: 50%;

  &:hover,
  &:active {
    filter: grayscale(0);
    opacity: 100%;
    cursor: pointer;
  }
}
