/* SCSS HEX */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.about-box, .hero-content, .navigation__link-item, .navigation__links-list, .navigation-bar, .cv, .about, .tools-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cv, .about, .tools-box {
  padding: 12rem 0;
  flex-direction: column;
  gap: 9.6rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.title {
  font-size: 5.2rem;
  text-transform: uppercase;
}

.subtitle {
  font-size: 2.4rem;
}

.active-language, .navigation__link:link:hover,
.navigation__link:visited:hover, .btn {
  display: inline-block;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 3rem;
}

.navigation__link:hover:link,
.navigation__link:hover:visited, .btn:hover {
  cursor: pointer;
  color: #f5f5f5 !important;
  background-color: #040f0fff;
}
.navigation__link:active:link:hover,
.navigation__link:active:visited:hover, .btn:active {
  background-color: #d1d646ff;
}

.btn {
  padding: 2rem 3.2rem;
}

.btn--navigation {
  border: none;
}

.btn--cv {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding: 2rem 6.2rem;
  color: #2d3a3aff !important;
  background-color: #f5f5f5;
}

.hero {
  height: 100vh;
  background-color: #040f0fff;
}

.navigation-bar {
  padding: 2.2rem 0;
  justify-content: space-between;
}

.navigation__links-list {
  list-style: none;
  height: 5rem;
}

.navigation__link-item {
  text-transform: uppercase;
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  padding: 1rem 2.2rem;
}
.active-language {
  padding: 1rem 2.2rem;
  color: #2d3a3aff !important;
  background-color: #f5f5f5;
}

.hero-content {
  margin-top: 9.6rem;
  gap: 19.6rem;
}

.hero__right {
  background-image: url("../images/me.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-color: #d1d646ff;
  border-style: dashed;
  filter: brightness(0.8);
  border-top: 2px;
  border-bottom: 2px;
  width: 40rem;
  height: 40rem;
  border-radius: 100%;
}

.hero__span {
  color: #d1d646ff;
}

.light .title {
  color: #092020;
}

.light .subtitle {
  color: #0d3030;
}

.light .paragraph {
  color: #2d3a3aff;
}

.dark .title {
  color: #fff;
}

.dark .paragraph,
.dark .subtitle {
  color: #f5f5f5;
}

.dark .navigation__link:link,
.dark .navigation__link:visited,
.dark .btn--navigation {
  color: #f5f5f5;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 4.8rem;
  column-gap: 4.4rem;
}

.tool {
  width: 15rem;
  height: 15rem;
  filter: grayscale(100%);
  opacity: 50%;
}
.tool:hover {
  filter: grayscale(0);
  opacity: 100%;
  cursor: pointer;
}

.about {
  min-height: 60rem;
}

.about-box {
  flex-direction: column;
  gap: 2rem;
}

.about__paragraph {
  text-align: center;
  font-size: 2rem;
}

.cv {
  background-color: #040f0fff;
  gap: 4.6rem;
}

.cv__subtitle {
  letter-spacing: 1rem;
}

/*# sourceMappingURL=main.css.map */
