/* SCSS HEX */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.projects__carousel, .contact__links, .about-box, .hero__content, .navigation__link-item, .navigation__links-list, .navigation-bar, .hero, .projects, .contact, .cv, .about, .tools-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects, .contact, .cv, .about, .tools-box {
  padding: 12rem 0;
  flex-direction: column;
  gap: 9.6rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.title {
  font-size: 5.2rem;
  text-transform: uppercase;
}

.subtitle {
  font-size: 2.4rem;
  border-bottom: 0.3rem dashed #d1d646ff;
}

ion-icon {
  font-size: 6.4rem;
  color: black;
}
ion-icon:hover {
  color: #fbfbee;
  cursor: pointer;
}
ion-icon:active {
  color: #d1d646ff;
}

.footer {
  height: 10rem;
  background-color: #040f0fff;
  padding-top: 3rem;
}

.footer__paragraph {
  width: 19ch;
  margin: 0 auto;
}

.active-language, .navigation__link:link:hover,
.navigation__link:visited:hover, .btn {
  display: inline-block;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 3rem;
}

.navigation__link:hover:link,
.navigation__link:hover:visited, .btn:hover {
  cursor: pointer;
  color: #f5f5f5 !important;
  background-color: #040f0fff;
}
.navigation__link:active:link:hover,
.navigation__link:active:visited:hover, .btn:active {
  background-color: #d1d646ff;
}

.btn {
  padding: 2rem 3.2rem;
}

.btn--navigation {
  border: none;
}

.btn--cv {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding: 2rem 6.2rem;
  color: #2d3a3aff !important;
  background-color: #f5f5f5;
}

.btn--menu-mobile {
  color: #f5f5f5;
  border: none;
}

.hero {
  position: relative;
  height: 100vh;
  background-color: #040f0fff;
}

.navigation-bar {
  position: absolute;
  top: 0;
  padding: 2.2rem 0;
  justify-content: space-between;
}

.navigation__links-list {
  list-style: none;
  height: 5rem;
}

.navigation__link-item {
  text-transform: uppercase;
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  padding: 1rem 2.2rem;
}
.active-language {
  padding: 1rem 2.2rem;
  color: #2d3a3aff !important;
  background-color: #f5f5f5;
}

.hero__content {
  margin-top: 9.6rem;
  gap: 19.6rem;
}

.hero__paragraph {
  border: none;
}

.hero__right {
  background-image: url("../images/me.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-color: #d1d646ff;
  border-style: dashed;
  filter: brightness(0.8);
  border-top: 2px;
  border-bottom: 2px;
  width: 40rem;
  height: 40rem;
  border-radius: 100%;
}

.hero__span {
  color: #d1d646ff;
}

.mobile {
  justify-content: flex-end;
  display: none;
}

.light .title {
  color: #092020;
}

.light .subtitle {
  color: #0d3030;
}

.light .paragraph {
  color: #2d3a3aff;
}

.dark .title {
  color: #fff;
}

.dark .paragraph,
.dark .subtitle {
  color: #f5f5f5;
}

.dark .navigation__link:link,
.dark .navigation__link:visited,
.dark .btn--navigation {
  color: #f5f5f5;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 4.8rem;
  column-gap: 4.4rem;
}

.tool {
  width: 15rem;
  height: 15rem;
  filter: grayscale(100%);
  opacity: 50%;
}
.tool:hover {
  filter: grayscale(0);
  opacity: 100%;
  cursor: pointer;
}

.about {
  min-height: 60rem;
}

.about-box {
  flex-direction: column;
  gap: 2rem;
}

.about__paragraph {
  text-align: center;
  font-size: 2rem;
}

.cv {
  background-color: #040f0fff;
  gap: 4.6rem;
}

.cv__subtitle {
  letter-spacing: 1rem;
}

.contact {
  flex-direction: column;
  background-color: #040f0fff;
}

.contact__links {
  gap: 6rem;
}

.contact__icon {
  color: #f5f5f5;
}

.projects__carousel {
  position: relative;
  width: 80%;
  height: 50rem;
  border: 1px dashed transparent;
  border-radius: 20rem;
  overflow: hidden;
}

.projects__left,
.projects__right {
  top: 50%;
  position: absolute;
  color: #040f0fff;
}
.projects__left:hover,
.projects__right:hover {
  color: #898980ff;
}
.projects__left:active,
.projects__right:active {
  color: #d1d646ff;
  scale: 0.9;
}

.projects__left {
  z-index: 1;
  left: 0;
  transform: translate(200%, -50%);
}

.projects__right {
  z-index: 1;
  right: 0;
  transform: translate(-200%, -50%);
}

.project__box {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 49rem;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  transition: transform 0.5s;
}
.project__box:hover {
  cursor: pointer;
}

.project__link {
  z-index: 0;
  position: absolute;
  width: 50%;
  display: block;
  height: 100%;
}

.project__todo {
  background-image: url("../images/projects/desktop-preview.jpg");
  background-position: center;
}

.project__agws {
  background-image: url("../images/projects/2022-03-26 12.02.17.jpeg");
  background-position: center;
}

.project__this-page {
  background-image: url("../images/projects/webpage.svg");
  background-position: center;
}

.project__github {
  background-image: url("../images/projects/github.jpeg");
  background-position: center;
}

@media screen and (max-width: 1520px) {
  .hero__content {
    gap: 3.6rem;
  }

  .hero__title {
    width: 20ch;
  }

  .projects__carousel {
    width: 100rem;
  }
}
@media screen and (max-width: 1050px) {
  .hero__content {
    flex-direction: column;
    gap: 5em;
  }

  .hero__left {
    text-align: center;
  }

  .hero__title {
    line-height: 1.5;
    width: 18ch;
  }

  .title {
    text-align: center;
    font-size: 4.2rem;
  }

  .subtitle {
    text-align: center;
  }

  .projects__right,
.projects__left {
    font-size: 3.2rem;
  }

  .projects__left {
    transform: translate(400%, -50%);
  }

  .projects__right {
    transform: translate(-400%, -50%);
  }
}
@media screen and (max-width: 800px) {
  .hero__right {
    height: 30rem;
    width: 30rem;
  }

  .tools-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 8.6rem;
  }

  .projects__carousel {
    width: 80rem;
  }

  .project__github {
    width: 40rem;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .navigation-bar {
    padding: 1rem;
  }

  .title {
    font-size: 3.6rem;
  }

  .hero__content {
    margin-top: 0;
  }

  .projects__carousel {
    width: 60rem;
  }

  .projects__left {
    transform: translate(300%, -50%);
  }

  .projects__right {
    transform: translate(-300%, -50%);
  }

  .project__github {
    width: 30rem;
  }

  .tools-grid {
    column-gap: 5.6rem;
  }

  .tool {
    width: 13rem;
    height: 13rem;
  }

  .subtitle {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
