/* SCSS HEX */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  width: 100vw;
  overflow-x: hidden;
}

.project_inner, .project, .contact__links, .about-box, .hero__content, .navigation__link-item, .navigation__links-list, .navigation-bar, .hero, .projects, .contact, .cv, .about, .tools-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects, .contact, .cv, .about, .tools-box {
  padding: 12rem 0;
  flex-direction: column;
  gap: 9.6rem;
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.title {
  font-size: 5.2rem;
  text-transform: uppercase;
  border-bottom: 0.3rem dashed #040f0f;
}

.subtitle {
  font-size: 2.4rem;
  border-bottom: 0.3rem dashed #d1d646;
}

ion-icon {
  font-size: 6.4rem;
  color: black;
}
ion-icon:hover {
  color: #fbfbee;
  cursor: pointer;
}
ion-icon:active {
  color: #d1d646;
}

.footer {
  height: 10rem;
  background-color: #040f0f;
  padding-top: 3rem;
}

.footer__paragraph {
  width: 19ch;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.tool, .text-selection-none {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.active-language, .navigation__link:link:hover,
.navigation__link:visited:hover, .btn {
  display: inline-block;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 3rem;
}

.navigation__link:hover:link,
.navigation__link:hover:visited, .btn:hover {
  cursor: pointer;
  color: #f5f5f5 !important;
  transform: translateY(10%);
  transition: transform 300ms;
}
.navigation__link:active:link:hover,
.navigation__link:active:visited:hover, .btn:active {
  color: #040f0f !important;
  background-color: #d1d646;
}

.btn {
  padding: 2rem 3.2rem;
}

.btn--language {
  border: none;
}

.btn--cv {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding: 2rem 6.2rem;
  color: #2d3a3a !important;
  background-color: #f5f5f5;
  text-decoration: none;
}
.btn--cv:hover {
  background-color: transparent;
}
.btn--cv:hover .cv-icon {
  color: #d1d646;
}
.btn--cv:active {
  background-color: #d1d646;
}
.btn--cv:active .cv-icon {
  color: #f5f5f5;
}

.btn--menu-mobile {
  font-size: 4rem;
  padding: 3rem;
  color: #f5f5f5;
  border: none;
  border-radius: 1rem;
}

.btn-transparent {
  border-color: transparent;
}
.btn-transparent:active {
  background-color: transparent;
}

.hero {
  position: relative;
  height: 100vh;
  background-color: #040f0f;
}

.navigation-bar {
  position: absolute;
  top: 0;
  padding: 2.2rem 0;
  justify-content: space-between;
}

.navigation__links-list {
  list-style: none;
  height: 5rem;
}

.navigation__link-item {
  text-transform: uppercase;
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  padding: 1rem 2.2rem;
  border: 2px solid transparent;
}
.active-language {
  padding: 1rem 2.2rem;
  color: #2d3a3a !important;
  background-color: #f5f5f5;
}

.hero__content {
  margin-top: 9.6rem;
  gap: 19.6rem;
}

.hero__paragraph {
  border: none;
}

.hero__right {
  background-position: center;
  background-repeat: no-repeat;
  border-color: #d1d646;
  border-style: dashed;
  border-top: 2px;
  border-bottom: 2px;
  width: 40rem;
  height: 40rem;
  border-radius: 100%;
}

.hero-img {
  background-image: url("../images/me_1.jpg");
  background-size: cover;
}

.hero__title {
  border: none;
}

.hero__span {
  color: #d1d646;
}

.mobile {
  display: none;
}

.mobile-menu {
  flex-direction: column;
  top: 10%;
}

.mobile-menu .navigation__links-list--right {
  flex-direction: column;
  margin-top: 35%;
}

.back-to-top {
  font-size: 3rem;
  position: fixed;
  right: 5%;
  top: 90%;
  color: #d1d646;
}

.typing-animation {
  cursor: pointer;
  border-right: solid white 0.1rem;
  padding-right: 0.3rem;
}

.light .title {
  color: #d1d646;
}

.light .subtitle {
  color: #0d3030;
}

.light .paragraph {
  color: #2d3a3a;
}

.dark .title {
  color: #fff;
}

.dark .paragraph,
.dark .subtitle {
  color: #f5f5f5;
}

.dark .navigation__link:link,
.dark .navigation__link:visited,
.dark .btn--navigation {
  color: #f5f5f5;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 4.8rem;
  column-gap: 4.4rem;
}

.tool {
  width: 15rem;
  height: 15rem;
  filter: grayscale(100%);
  opacity: 50%;
}
.tool:hover, .tool:active {
  filter: grayscale(0);
  opacity: 100%;
  cursor: pointer;
}

.about {
  min-height: 60rem;
}

.about-box {
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
}

.about__paragraph {
  font-size: 2rem;
}

.about__right {
  text-align: left;
  border-color: #d1d646 !important;
  border-left: 0.5rem dashed;
  padding: 3rem;
  border-bottom: 0.5rem dashed;
}

.about__title {
  text-wrap: nowrap;
}

.about__link {
  text-decoration: none;
  color: #898980;
}
.about__link:hover {
  color: #d1d646;
}

.cv {
  background-color: #040f0f;
  gap: 4.6rem;
}

.cv__subtitle {
  letter-spacing: 1rem;
}

.contact {
  flex-direction: column;
  background-color: #040f0f;
}

.contact__links a:hover {
  transform: translateY(10%);
}

.contact__links {
  gap: 6rem;
}

.contact__icon {
  color: #f5f5f5;
}

.projects__box {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  row-gap: 12rem;
}

.project {
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.project:nth-child(odd) {
  flex-direction: row-reverse;
}

.project_inner {
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.project__paragraph {
  width: 50ch;
}

.project__right {
  width: 50rem;
  border-radius: 20rem;
}

.project__link {
  text-align: center;
}
.project__link:link {
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
  padding: 2rem 2.2rem;
  border-radius: 10rem;
  color: #f5f5f5;
  background-color: #092020;
  text-decoration: none;
  border: 0.3rem solid transparent;
}
.project__link:visited {
  color: #f5f5f5;
}
.project__link:hover {
  border: 0.3rem solid #092020;
  cursor: pointer;
  background-color: transparent;
  color: #092020 !important;
}
.project__link:active {
  border-color: #d1d646;
  background-color: #d1d646;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.skip-nav-link {
  z-index: 1;
  position: absolute;
  left: 1rem;
  transform: translatey(-120%);
  transition: transform 500ms ease-in;
  font-size: 5rem;
  padding: 1rem;
  background-color: #f5f5f5;
  color: #d1d646;
  border-radius: 0 0 10px 10px;
}

.skip-nav-link:focus {
  transform: translatey(0%);
  border: 3px dotted #d1d646;
}

@media screen and (max-width: 1550px) {
  .hero__content {
    gap: 3.6rem;
  }
  .hero__title {
    width: 20ch;
  }
  .about-box {
    flex-direction: column;
  }
  .project__right {
    width: 40rem;
  }
  .project .project__paragraph {
    width: 45ch;
  }
}
@media screen and (max-width: 1120px) {
  .hero__content {
    flex-direction: column;
    gap: 5em;
  }
  .hero__left {
    text-align: center;
  }
  .hero__title {
    line-height: 1.5;
    width: 18ch;
  }
  .title {
    text-align: center;
    font-size: 4.2rem;
  }
  .subtitle {
    text-align: center;
  }
  .about__right {
    border: none;
  }
  .about__paragraph {
    text-align: center;
    padding: 4rem 0 1rem 0;
  }
  .about__paragraph:last-child {
    border-bottom: 0.5rem dashed #d1d646;
  }
  .projects__box {
    row-gap: 15rem;
  }
  .project:nth-child(odd) {
    flex-direction: column-reverse;
  }
  .project {
    flex-direction: column-reverse;
    gap: 6rem;
  }
  .project_inner {
    align-items: center;
  }
  .project__paragraph {
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .hero__right {
    height: 30rem;
    width: 30rem;
  }
  .tools-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 8.6rem;
  }
  .desktop {
    display: none;
  }
  .mobile {
    padding: 0;
    width: 100%;
    justify-content: flex-end;
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .hero {
    padding: 10% 0;
  }
  .navigation-bar {
    padding: 1rem;
  }
  .title {
    font-size: 3.6rem;
  }
  .hero__content {
    margin-top: 2rem;
    gap: 2rem;
  }
  .hero__right {
    height: 28rem;
    width: 28rem;
  }
  .tools-grid {
    column-gap: 5.6rem;
  }
  .tool {
    width: 13rem;
    height: 13rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .project__title {
    width: 15ch;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 46%;
  }
  .container {
    width: 90%;
  }
  .project__paragraph {
    width: 30ch;
  }
}

/*# sourceMappingURL=main.css.map */
